<header>
    <nav>
        <div class="sidebar">
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img id="logo" src="css/images/twitter-logo.svg" alt="bird-logo">
                </div>
            </div>
        
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img src="css/images/house.svg" alt="house-icon">
                </div>
                <div>
                    <a href="/">Home</a>
                </div>
            </div>
        
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img src="css/images/hash.svg" alt="hashtag-icon">
                </div>
                <div>
                    <a href="">Explore</a>
                </div>
            </div>
        
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img src="css/images/bell.svg" alt="bell-icon">
                </div>
                <div>
                    <a href="">Notifications</a>
                </div>
            </div>
        
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img src="css/images/envelope.svg" alt="mail-icon">
                </div>
                <div>
                    <a href="">Messages</a>
                </div>
            </div>
        
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img src="css/images/bookmark.svg" alt="bookmark-icon">
                </div>
                <div>
                    <a href="">Bookmarks</a>
                </div>
            </div>
        
            <div class="sidebar-layout">
                <div class="sidebar-align">
                    <img src="css/images/person.svg" alt="person-icon">
                </div>
                <div>
                    <a href="">Profile</a>
                </div>
            </div>
    
            <div class="twt-align">
                <button id="twt-btn">
                    Tweet
                </button>
            </div>
        </div>
    </nav>
</header>