<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <main>
            <section>
                <div class="main-layout">
                    <div></div>
                    <div>
                        <div class="topbar-home">
                            <div class="topbar-align">
                                <div class="topbar-title">
                                    <h2>Home</h2>
                                </div>
                                <div class="topbar-nav">
                                    <a class="topbar-link" href="">For you</a>
                                    <a class="topbar-link" href="">Following</a>
                                    <a class="topbar-link" href="">Entertainment Writers</a>
                                    <a class="topbar-link" href="">US Celebrities - Movies</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="error-align">
                    <div class="error-container">
                        <h2 class="error-message1">Sorry! This feature hasn't been implemented yet...</h2>
                        <img id="error-img" src="css/images/404.webp" alt="anime-girl-panic">
                        <h2 class="error-message2">Please check back again later</h2>
                        <p><a href="/">RETURN TO HOME</a></p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>


