<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <section>
            <div class="error-align">
                <div class="error-container">
                    <h2 class="error-message1">Sorry! This feature hasn't been implemented yet...</h2>
                    <img id="error-img" src="https://i0.wp.com/chromaticdreamers.com/wp-content/uploads/2022/01/02-Saten-Mikoto-apologize.jpg?resize=1200%2C675&ssl=1" alt="anime-girl-panic">
                    <h2 class="error-message2">Please check back again later</h2>
                    <p><a href="/">RETURN TO HOME</a></p>
                </div>
            </div>
        </section>
        </main>
    </body>
</html>