<!DOCTYPE html>
    <html lang="en">
        <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <main>
            <section>
                <div class="login-align">
                    <div class="login-container">
                        <img id="login-logo" src="css/images/twitter-logo.svg" alt="bird-logo">
                        <h2 class="login-title">Sign in to Twitter</h2>
                        <form>
                            <input class="login-info" type="text" placeholder="Enter your username">
                            <input class="login-info" type="text" placeholder="Enter your password">
                            <button id="login-btn1">Login</button>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./partials/footer') %>
    </body>
</html>