<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head') %>
    <body>
        <main>
            <section>
                <div class="login-align">
                    <div class="login-container">
                        <img id="login-logo" src="css/images/twitter-logo.svg" alt="bird-logo">
                        <h2 class="login-title">Log into Twitter</h2>
                        <form action="/users/login" method="post"  >
                            <input class="login-info" type="text" placeholder="Enter your username" name="username" >
                            <input class="login-info" type="password" placeholder="Enter your password" name="password">
                            <button id="login-btn" type="submit">Login</button>
                        </form>
                        <p>Don't have an account? <a href="/users/register">Register here</a></p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>