<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section>
                    <div class="main-layout">
                        <div></div>
                        <div>
                            <div class="topbar-home">
                                <div class="topbar-align">
                                    <div class="topbar-title">
                                        <h2>Home</h2>
                                    </div>
                                    <div class="topbar-nav">
                                        <a class="topbar-link" href="">For you</a>
                                        <a class="topbar-link" href="">Following</a>
                                        <a class="topbar-link" href="">Entertainment Writers</a>
                                        <a class="topbar-link" href="">US Celebrities - Movies</a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-align">
                                <div class="post-container">
                                    <form id="tweet-form" action="/home" method="POST">
                                        <img id="post-pic"
                                            src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png"
                                            alt="default-pic">
                                        <textarea name="tweetText" id="" cols="30" rows="10" class="post-text"
                                            placeholder="What's happening?"></textarea>
                                        <button id="post-btn" type="submit">Tweet</button>
                                        <span id="post-count">280</span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="tweet-feed">
                    <% if (tweets && tweets.length) { %>
                        <% tweets.forEach(tweet=> { %>
                            <div class="tweet">
                                <div class="tweet-username">
                                    <%= tweet.author.username %>
                                </div>
                                <div class="tweet-text">
                                    <%= tweet.tweetText %>
                                </div>
                                <button class="tweet-edit">Edit</button>
                                <button class="tweet-delete">Delete</button>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No tweets to display</p>
                                    <% } %>
                </div>
            </main>
    </body>

</html>