<!DOCTYPE html>
    <html lang="en">
        <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <main>
            <section>
                <div class="main-layout">
                    <div></div>
                    <div>
                        <div class="topbar-home">
                            <div class="topbar-align">
                                <div class="topbar-title">
                                    <h2>Home</h2>
                                </div>
                                <div class="topbar-nav">
                                    <a class="topbar-link" href="">For you</a>
                                    <a class="topbar-link" href="">Following</a>
                                    <a class="topbar-link" href="">Entertainment Writers</a>
                                    <a class="topbar-link" href="">US Celebrities - Movies</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>