<!DOCTYPE html>
    <html lang="en">
        <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <main>
            <section>
                <div class="post-align">
                    <div class="post-container">
                        <form  action="/tweets" method="POST">
                            <input id="tweet-text" class="post-text" type="text" placeholder="What's happening?">
                            <div class="post-realign">
                                <span class="chara-count">240</span>
                                <button id="post-btn" type="submit">Tweet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
                    
        </main>

        <%- include('./partials/footer') %>
    </body>
</html>